<div class="jumbotron">
	<h1>Roboresearcher.Ask</h1>
	<p class="lead">Survey and and assessment technology tailored for research scientists.</p>
</div>
<div class="row">
	<h2>Roboresearcher is a suite of fully integrated tools allowing research scientists to have a secure, easy to use interface for recruiting and maintaining contact with study participants, creating and administering assessments, and generating and sharing reports. Ask, Track and Report are designed from the ground up to work together and make it as easy as possible to manage all aspects of human participant research studies.</h2>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Ask</h2>
		<p>Full-featured survey and assessment creation and administration.</p>
		<p><a class="btn btn-default" href="http://www.roboresearcher.com/ask">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Track</h2>
		<p>Recruit and maintain contact with participants throughout the life of a study.</p>
		<p><a class="btn btn-default" href="http://www.roboresearcher.com/track">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Report</h2>
		<p>Generate charts, graphs and diagrams from analysis performed with R, SPSS and SASS.</p>
		<p><a class="btn btn-default" href="http://www.roboresearcher.com/report">Learn more &raquo;</a></p>
	</div>
</div>
